version: '3.8'

services:
  app:
    container_name: web-truyen
    build: .
    restart: unless-stopped
    ports:
      - "1506:1506"
    volumes:
      - ./truyen.db:/app/truyen.db
      - ./sessions.db:/app/sessions.db  
      - ./public/uploads:/app/public/uploads
    environment:
      - NODE_ENV=production